<a href="https://colab.research.google.com/github/nitinsaimajji/Numpy_Tutorial/blob/main/noe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

In [ ]:
df=pd.read_csv("diamond.csv")

In [ ]:
df

In [ ]:
## 2. Write a program to filter the DataFrame rows to only show carat weight at least 0.3

In [ ]:
df1=df.loc[df['carat']<=0.3]
df1

In [ ]:
## 3. find the diamonds that are either Premium or Ideal

In [ ]:
df1 = df[(df['cut'] == 'Premium') | (df['cut']=='Ideal')]
df1

In [ ]:
## 4 . calculate the mean of each numeric column of diamonds DataFrame

In [ ]:

cols=['carat','depth','price','table','x','y','z']

for i in cols:
  print(df[i].mean())

In [ ]:
## 6. calculate count, minimum, maximum price for each cut of diamonds DataFrame

In [ ]:
groupby=df.groupby('cut')
for cut,group in groupby:
    print("count=",group.shape[0])

In [ ]:
## 7 .	display rows 0, 5, 7 and all columns of diamonds DataFrame

In [ ]:
result=df.iloc[[0,5,7]] 
result

In [ ]:
## 8. display rows 2 through 5 and all columns of diamonds DataFrame

In [ ]:
result=df.iloc[2:5] 
result

In [ ]:
## 9.	Display rows 0 through 2 (inclusive), columns 'color' and 'price' of diamonds DataFrame.

In [ ]:
result=df.iloc[0:3,[2,6]]
result

In [ ]:
## 10.	Display rows 2 through 5 (inclusive), columns in positions 0 through 2 (exclusive) of diamonds DataFrame

In [ ]:
result=df.iloc[2:6,0:2]
result

In [ ]:
## 11.	Identify the columns with missing values

In [ ]:
df.isna().any()

In [ ]:
## 12.	Drop all the rows with missing values

In [ ]:
df.dropna(axis=0)

In [ ]:
## 13.	Drop all columns with missing values

In [ ]:
df.dropna(axis=1)

In [ ]:
## 14.	Replace all the missing values with

In [ ]:
## a) a specific value

In [ ]:
df.fillna(0)

In [ ]:
## b)mean of the column .

In [ ]:
data=df.fillna(df.mean())
data

In [ ]:
## 15.	Normalize the data using min-max normalization and write the updated dataframe to a different csv file

In [ ]:
df1=df.iloc[:,[0,4,5,6,7,8,9]]
df1

In [ ]:
df_min_max_scaled = df1.copy()

for column in df_min_max_scaled.columns:
    df_min_max_scaled[column] = (df_min_max_scaled[column] - df_min_max_scaled[column].min()) / (df_min_max_scaled[column].max() - df_min_max_scaled[column].min())    

print(df_min_max_scaled)

In [ ]:
df_min_max_scaled.to_csv('file1.csv')

In [ ]:
pd.read_csv('file1.csv')

In [ ]:
## 16. Normalize the data using z-score normalization

In [ ]:
df_z_scaled = df1.copy()
  
for column in df_z_scaled.columns:
    df_z_scaled[column] = (df_z_scaled[column] -
                           df_z_scaled[column].mean()) / df_z_scaled[column].std()    
    
print(df_z_scaled)